    #navbar {
      list-style-type: none;
      margin: 0;
      padding: 0;
      text-align: right;
      
      }



    .centrar {
        display: block;
        text-align: center;

    }
    
    li {
      display: inline;
      }

      li #foot_izquierda {
  float: left;
    }  

        #navbar a {
      text-decoration: none;
      color: black;
    }

    #menu_apps {
      width: 30px; 
      height: 30px; 
      position: relative;
       }

    input {
        border-radius: 15px;
        box-shadow: grey;
        font-size: 20px;
    }

    button {
        margin-top: 15px;
    }

    footer {
        position: absolute;
        bottom: 0;
           }


    button a {
        text-decoration: none;
        color: black;
    }
    #foot_izquierda {
    text-align: left; 

    }
   
