    body a, p, h {
      font-family: arial, sans-serif;

    }
    
    
    
    #navbar {
      list-style-type: none;
      margin: 0;
      padding: 0;
      text-align: right;
      
      }

    .centrar {
        display: block;
        text-align: center;

    }
    
    li {
      display: inline;
      }

      li #foot_izquierda {
  float: left;
    }  

        #navbar a {
      text-decoration: none;
      color: black;
    }

    #menu_apps {
      width: 30px; 
      height: 30px; 
      position: relative;
       }

    input {
        border-radius: 15px;
        font-size: 20px;
        }

    input:hover {
      

    }

    button {
        margin-top: 15px;
        color: black;
    }

 

    footer {
        position: absolute;
        bottom: 0;
        background-color:lightgray;
        border-radius: 2px;
                }


    button a {
        text-decoration: none;
        color: black;
    }
   
